<nav class="navbar navbar-light" style="background-color: #00958b;">
  <a class="navbar-brand" href="#">
    <img src="https://www.senior.com.br/wp-content/themes/senior-2019/content/assets/images/logo-senior.svg" class="d-inline-block align-top" alt="">
  </a>
</nav>
<div class="container" style="margin-bottom: 30px;">
  <button class="btn btn-primary" style="margin-top: 30px; margin-bottom: 30px;">Incluir pessoa</button>
  <div class="card">
    <div class="card-header bg-primary text-white"><h5>Novo check in</h5></div>
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="dataentrada">Data/Hora de entrada</label>
            <input type="text" class="form-control" id="dataentrada">
          </div>
          <div class="form-group col-md-6">
            <label for="datasaida">Data/Hora de saída</label>
            <input type="text" class="form-control" id="datasaida">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="pessoa">Pessoa</label>
            <input type="text" class="form-control" id="pessoa">
          </div>
          <div class="form-group col-md-6">
            <div class="custom-control custom-checkbox" style="margin-top: 37px;">
              <input  type="checkbox" class="custom-control-input" id="veiculo">
              <label class="custom-control-label" for="veiculo" >Possui veiculo</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-header bg-primary text-white"><h5>Consultas</h5></div>
    <div class="card-body">
      <h6>Filtrar por:</h6>
      <div class="custom-control custom-radio custom-control-inline" style="padding-bottom: inherit;">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Pessoas ainda presentes</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">Pessoas que já deixaram o hotel</label>
      </div>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Documento</th>
              <th scope="col">Valor gasto (R$)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of data.checkin">
              <td>{{c.nome}}</td>
              <td>{{c.documento}}</td>
              <td>{{c.valorTotal}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
